#project .flex_container {
  flex-wrap: nowrap;
}
  .project_item {
    padding: 10px 6px;
    border: 1px ridge;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(169, 169, 169) ;
    transition: transform 0.32s ease-in;
  }
    .project_item:hover {
      transform: scale(1.1);
    }
.project_icon {
  padding: 52px 60px;

  
  font-size: 100px;
  color: var(--header-background);
  
}
.project_item a {
  text-decoration: none;
  color: black;
  display: block;
  font-weight: 600;
  
  

  
}
.project_desc {
 text-align: center;
 padding-bottom: 20px;
}

