@media only screen and (max-width: 1300px) {
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

  .fixed_left {
    position: fixed;
    width: 100%;
    height: auto;
  }
  .main_content {
    margin: 0 ;
  }
  .nav_menu {
    display: flex;
    padding-top: 15px !important;
    margin-bottom: 7px !important;
  }
    header>p {
      margin: 0;
      padding: 0;
      font-size: 3rem;
    }

  .nav_menu a {
    display: inline-block;
    margin: 0;
    padding: 10px 20px !important;
    
  }
  header > p {
    padding: 20px 0 0 25px !important;
  }
  .nav_menu {
    list-style-type: none;
    padding-top: 15px;
    margin-bottom: 5px;
    /* cursor: pointer; */
  }
 #about_me{
  margin-top: 200px;

 }
  #about_me, .exp_res, #skills, #project, #education {
   
    border: none !important; 
   
    padding: 5px 25px;
  }
    #about_me>p {
      padding-bottom: 20px !important;
      border: none;
    }
}
