/* ===============
    General Code
  ================ */

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.3rem;
  /* display: flex; */

}
.container {
  display: flex;
  width: 100%;
}
.center {
  text-align: center;
}

:root {
  --sidebar-width: 305px;
  --header-background: #4b406a ;
  --header-background-hover: #72639fbd;
  --font-color: #a9a9a9e7;
}

/* ===============
    Navigation Bar
  ================= */
/* .img_wrapper{
    
  }
header> img {
  max-width: 100%;
  max-height: 100%;
} */
.header {
  
  background-color: var(--header-background);
  
  color: white;
}
header>p {
  margin: 0;
  padding: 100px 0 0 25px;
  font-size: 3rem;

}

.icon_container {
  padding-left: 30px;
}
.icon_container a {
  padding-right: 10px;
  color: white;
  font-size: 1.3rem;
}

.nav_menu {
}
.nav_menu ul {
  list-style-type: none;
   padding-top: 65px; 
  cursor: pointer;
}
.nav_menu ul li {
  font-size: 1.6rem;


  padding: 10px 0 10px 25px;
  margin: 3px 0;
  transition: background-color 0.2s ease-in;
}
.nav_menu ul li:hover{
  background-color: var(--header-background-hover);
}





.contact {
  padding-bottom: 5px;
}
.contact a {
  display: inline-block;
  /* padding: 2px 0; */
}
.contact a,
span {
  font-style: normal;
  color: #8271C1;
}









.fixed_left {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--sidebar-width);
  height: 100%;
  /* box-sizing: border-box;
  overflow-y: auto;
  overflow-wrap: break-word; */
}



/* ===============
    Main Content
  ================= */

.main_content {
  margin-left: 325px;
  padding: 20px;
  flex-grow: 1;
  box-sizing: border-box;
}
